.bundle
.DS_Store
.sass-cache
.gist-cache
.oembed-cache
.preview-mode
.pygments-cache
.python-version
.ruby-version
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
