[submodule ".themes/slash"]
	path = .themes/slash
	url = https://github.com/tommy351/Octopress-Theme-Slash.git
[submodule ".themes/calm-shallow-sea"]
	path = .themes/calm-shallow-sea
	url = https://github.com/alexharris/calm-shallow-sea.git
