// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

@font-face {
    font-family: 'mplus-1p-regular';
    src: url(http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf)
         format('truetype');
}
@font-face {
    font-family: 'mplus-2p-light';
    src: url(http://mplus-fonts.sourceforge.jp/webfonts/mplus-2p-light.ttf)
         format('truetype');
}

$sans: "mplus-2p-light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif: $sans;
$mono: Consolas, "Liberation Mono", Courier, monospace;
$heading-font-family: "mplus-1p-regular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
